n8n-workflows/005_critical-alerts-only.json
{
  "name": "005 - Alertes critiques seulement (niveau 4)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "critical-alert",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "critical-alert-level4"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.amount > 5000 || $json.path?.includes('rag/rules/') || $json.newWorkflow == true || $json.backupRestore == true || $json.gitMainBranch == true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-critical",
      "name": "Est-ce critique ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Construire le message d'alerte selon le type\nconst data = $input.first().json;\n\nlet emoji = '⚠️';\nlet title = 'Action critique exécutée';\nlet details = [];\n\n// Type d'alerte\nif (data.amount > 5000) {\n  emoji = '💰';\n  title = 'FACTURE ÉLEVÉE CRÉÉE';\n  details.push(`Montant : **${data.amount} €**`);\n  details.push(`Client : ${data.client_id || 'N/A'}`);\n}\n\nif (data.path?.includes('rag/rules/')) {\n  emoji = '📝';\n  title = 'MODIFICATION RÈGLES RAG';\n  details.push(`Fichier : ${data.path}`);\n}\n\nif (data.newWorkflow) {\n  emoji = '🔧';\n  title = 'NOUVEAU WORKFLOW CRÉÉ';\n  details.push(`Nom : ${data.workflow_name || 'N/A'}`);\n  details.push(`ID : ${data.workflow_id || 'N/A'}`);\n}\n\nif (data.backupRestore) {\n  emoji = '💾';\n  title = 'RESTAURATION BACKUP';\n  details.push(`Backup : ${data.backup_id || 'N/A'}`);\n}\n\nif (data.gitMainBranch) {\n  emoji = '🔀';\n  title = 'OPÉRATION GIT SUR MAIN';\n  details.push(`Opération : ${data.git_operation || 'N/A'}`);\n  details.push(`Commit : ${data.commit_sha || 'N/A'}`);\n}\n\n// Message générique si fourni\nif (data.message) {\n  details.push(`\\nMessage : ${data.message}`);\n}\n\n// Timestamp\nconst timestamp = new Date().toLocaleString('fr-FR', {\n  timeZone: 'Europe/Paris',\n  dateStyle: 'short',\n  timeStyle: 'short'\n});\n\n// Construction du message final\nconst messageText = `${emoji} **PROLEX NIVEAU 4 - ${title}**\\n\\n${details.join('\\n')}\\n\\n📅 ${timestamp}\\n🔗 Workflow : ${data.workflow_id || 'N/A'}`;\n\nreturn [{\n  json: {\n    message: messageText,\n    raw_data: data\n  }\n}];"
      },
      "id": "format-message",
      "name": "Formater message alerte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "chatId": "123456789",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Alerte Telegram Matthieu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Automatt"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.automatt.ai/webhook/systemjournal-log",
        "options": {
          "method": "POST"
        },
        "bodyParametersJson": "={{ JSON.stringify({\n  timestamp: new Date().toISOString(),\n  agent: 'Prolex',\n  autonomy_level: 4,\n  action: 'CRITICAL_ALERT_SENT',\n  details: $json.raw_data,\n  alert_sent: true,\n  telegram_status: 'success'\n}) }}"
      },
      "id": "log-systemjournal",
      "name": "Logger dans SystemJournal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'success',\n  alert_sent: true,\n  timestamp: new Date().toISOString()\n}) }}"
      },
      "id": "respond-success",
      "name": "Réponse succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'skipped',\n  reason: 'not_critical',\n  timestamp: new Date().toISOString()\n}) }}"
      },
      "id": "respond-skip",
      "name": "Réponse non-critique",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Est-ce critique ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Est-ce critique ?": {
      "main": [
        [
          {
            "node": "Formater message alerte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse non-critique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater message alerte": {
      "main": [
        [
          {
            "node": "Alerte Telegram Matthieu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerte Telegram Matthieu": {
      "main": [
        [
          {
            "node": "Logger dans SystemJournal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger dans SystemJournal": {
      "main": [
        [
          {
            "node": "Réponse succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": [
    {
      "name": "core",
      "createdAt": "2025-11-22T00:00:00.000Z",
      "updatedAt": "2025-11-22T00:00:00.000Z",
      "id": "1"
    },
    {
      "name": "v4",
      "createdAt": "2025-11-22T00:00:00.000Z",
      "updatedAt": "2025-11-22T00:00:00.000Z",
      "id": "2"
    },
    {
      "name": "alert",
      "createdAt": "2025-11-22T00:00:00.000Z",
      "updatedAt": "2025-11-22T00:00:00.000Z",
      "id": "3"
    }
  ],
  "meta": {
    "instanceId": "prolex-v4"
  }
}
