n8n-workflows/011_sync-github-to-n8n-v1.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-to-n8n",
        "options": {}
      },
      "id": "8e5d04db-5c73-424b-82cd-b8ff2fa247f3",
      "name": "GitHub Push Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -816,
        16
      ],
      "webhookId": "github-to-n8n"
    },
    {
      "parameters": {
        "jsCode": "// Extraire tous les fichiers modifiés dans n8n-workflows/\nconst payload = $input.item.json;\nconst repo = payload.repository?.full_name || 'unknown';\nconst ref = payload.ref || '';\nconst branch = ref.replace('refs/heads/', '');\nconst pusher = payload.pusher?.name || payload.sender?.login || 'unknown';\nconst commits = payload.commits || [];\n\n// Collecter tous les fichiers modifiés\nconst filesChanged = [];\nconst seenFiles = new Set();\n\nfor (const commit of commits) {\n  const commitSha = commit.id;\n  \n  // Fichiers ajoutés\n  for (const file of (commit.added || [])) {\n    if (file.startsWith('n8n-workflows/') && file.endsWith('.json') && !seenFiles.has(file)) {\n      filesChanged.push({\n        file_path: file,\n        change_type: 'added',\n        repo: repo,\n        branch: branch,\n        commit_sha: commitSha,\n        actor: commit.author?.username || pusher\n      });\n      seenFiles.add(file);\n    }\n  }\n  \n  // Fichiers modifiés\n  for (const file of (commit.modified || [])) {\n    if (file.startsWith('n8n-workflows/') && file.endsWith('.json') && !seenFiles.has(file)) {\n      filesChanged.push({\n        file_path: file,\n        change_type: 'modified',\n        repo: repo,\n        branch: branch,\n        commit_sha: commitSha,\n        actor: commit.author?.username || pusher\n      });\n      seenFiles.add(file);\n    }\n  }\n  \n  // Fichiers supprimés\n  for (const file of (commit.removed || [])) {\n    if (file.startsWith('n8n-workflows/') && file.endsWith('.json') && !seenFiles.has(file)) {\n      filesChanged.push({\n        file_path: file,\n        change_type: 'removed',\n        repo: repo,\n        branch: branch,\n        commit_sha: commitSha,\n        actor: commit.author?.username || pusher\n      });\n      seenFiles.add(file);\n    }\n  }\n}\n\nif (filesChanged.length === 0) {\n  return [{\n    json: {\n      file_path: 'none',\n      change_type: 'none',\n      repo: repo,\n      branch: branch,\n      commit_sha: commits[commits.length - 1]?.id || 'unknown',\n      actor: pusher,\n      skip: true\n    }\n  }];\n}\n\nreturn filesChanged.map(f => ({ json: f }));"
      },
      "id": "a5449fb4-bd94-40f6-abfc-f7ac3e2c7193",
      "name": "Extract Changed Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -592,
        16
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3e39c7f5-c8cc-40c3-b7a9-9b3d21b72756",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -384,
        16
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.change_type }}",
        "rules": {
          "rules": [
            {
              "value2": "removed",
              "output": 1
            },
            {
              "value2": "none",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "090de47d-9d66-492e-83ef-1d43f8ca00a3",
      "name": "Route by Change Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -160,
        16
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json[\"repo\"]}}/contents/{{$json[\"file_path\"]}}\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "={{ $json.branch }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ecb3355b-fd1f-4398-9ceb-578bf4a076af",
      "name": "Get File from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        64,
        -112
      ],
      "credentials": {
        "githubApi": {
          "id": "D1IWQbGkth92FqSt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Décoder le contenu base64 et parser le JSON du workflow\nconst item = $input.item.json;\nconst fileData = item.content;\nconst encoding = item.encoding;\n\nif (encoding !== 'base64') {\n  return {\n    json: {\n      ...item,\n      error: true,\n      error_message: 'Encoding not base64',\n      workflow_json: null\n    }\n  };\n}\n\ntry {\n  // Décoder base64\n  const decoded = Buffer.from(fileData, 'base64').toString('utf-8');\n  \n  // Parser JSON\n  const workflowJson = JSON.parse(decoded);\n  \n  // Valider\n  if (!workflowJson.name) {\n    return {\n      json: {\n        ...item,\n        error: true,\n        error_message: 'Workflow JSON missing required field: name',\n        workflow_json: null\n      }\n    };\n  }\n  \n  if (!workflowJson.nodes) {\n    return {\n      json: {\n        ...item,\n        error: true,\n        error_message: 'Workflow JSON missing required field: nodes',\n        workflow_json: null\n      }\n    };\n  }\n  \n  // Récupérer les métadonnées du fichier depuis le contexte précédent\n  const fileInfo = $('Split In Batches').item.json;\n  \n  return {\n    json: {\n      ...fileInfo,\n      workflow_json: workflowJson,\n      workflow_name: workflowJson.name,\n      error: false,\n      error_message: ''\n    }\n  };\n  \n} catch (error) {\n  const fileInfo = $('Split In Batches').item.json;\n  return {\n    json: {\n      ...fileInfo,\n      error: true,\n      error_message: `Failed to parse workflow JSON: ${error.message}`,\n      workflow_json: null\n    }\n  };\n}"
      },
      "id": "23620e1a-586e-4885-8249-38900d8479e8",
      "name": "Parse Workflow JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Créer ou mettre à jour le workflow dans n8n\nconst item = $input.item.json;\n\nif (item.error) {\n  return {\n    json: {\n      ...item,\n      action_taken: 'skip',\n      status: 'failed',\n      workflow_id: '',\n      trigger_origin: 'github_webhook'\n    }\n  };\n}\n\nconst workflowJson = item.workflow_json;\nconst workflowName = item.workflow_name;\n// Utilisation des variables d'environnement ou valeurs par défaut\nconst n8nBaseUrl = $env.N8N_BASE_URL || 'http://localhost:5678';\nconst n8nApiKey = $env.N8N_API_KEY;\n\nif (!n8nApiKey) {\n  return {\n    json: {\n      ...item,\n      action_taken: 'skip',\n      status: 'failed',\n      error_message: 'N8N_API_KEY not configured in .env',\n      workflow_id: '',\n      trigger_origin: 'github_webhook'\n    }\n  };\n}\n\ntry {\n  // 1. Chercher si le workflow existe déjà\n  const searchUrl = `${n8nBaseUrl}/api/v1/workflows`;\n  const searchResponse = await fetch(searchUrl, {\n    method: 'GET',\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n      'Content-Type': 'application/json'\n    }\n  });\n  \n  if (!searchResponse.ok) {\n    throw new Error(`Failed to search workflows: ${searchResponse.statusText}`);\n  }\n  \n  const allWorkflows = await searchResponse.json();\n  const existingWorkflow = allWorkflows.data?.find(w => w.name === workflowName);\n  \n  let result;\n  let actionTaken;\n  \n  if (existingWorkflow) {\n    // 2a. Update existing workflow\n    const updateUrl = `${n8nBaseUrl}/api/v1/workflows/${existingWorkflow.id}`;\n    const updateBody = {\n      ...workflowJson,\n      id: existingWorkflow.id\n    };\n    \n    const updateResponse = await fetch(updateUrl, {\n      method: 'PUT',\n      headers: {\n        'X-N8N-API-KEY': n8nApiKey,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(updateBody)\n    });\n    \n    if (!updateResponse.ok) {\n      const errorText = await updateResponse.text();\n      throw new Error(`Failed to update workflow: ${updateResponse.statusText} - ${errorText}`);\n    }\n    \n    result = await updateResponse.json();\n    actionTaken = 'update';\n    \n  } else {\n    // 2b. Create new workflow\n    const createUrl = `${n8nBaseUrl}/api/v1/workflows`;\n    const createBody = {\n      ...workflowJson\n    };\n    delete createBody.id; // Remove id if present\n    \n    const createResponse = await fetch(createUrl, {\n      method: 'POST',\n      headers: {\n        'X-N8N-API-KEY': n8nApiKey,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(createBody)\n    });\n    \n    if (!createResponse.ok) {\n      const errorText = await createResponse.text();\n      throw new Error(`Failed to create workflow: ${createResponse.statusText} - ${errorText}`);\n    }\n    \n    result = await createResponse.json();\n    actionTaken = 'create';\n  }\n  \n  return {\n    json: {\n      ...item,\n      action_taken: actionTaken,\n      status: 'success',\n      workflow_id: result.data?.id || result.id || '',\n      workflow_name: workflowName,\n      trigger_origin: 'github_webhook',\n      error_message: ''\n    }\n  };\n  \n} catch (error) {\n  return {\n    json: {\n      ...item,\n      action_taken: 'skip',\n      status: 'failed',\n      error_message: error.message,\n      workflow_id: '',\n      trigger_origin: 'github_webhook'\n    }\n  };\n}"
      },
      "id": "93b82aeb-2b30-4033-bc65-7fc243eca86e",
      "name": "Create or Update Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraire le nom du workflow depuis le chemin du fichier\nconst item = $input.item.json;\nconst filePath = item.file_path;\n\n// Ex: n8n-workflows/010_sync-github-to-n8n.json -> 010_sync-github-to-n8n\nconst fileName = filePath.split('/').pop().replace('.json', '');\n\n// Essayer de deviner le nom du workflow\n// Option 1: utiliser le nom de fichier directement\nconst guessedName = fileName.replace(/_/g, ' ').replace(/-/g, ' ');\n\nreturn {\n  json: {\n    ...item,\n    workflow_name_guess: guessedName,\n    file_name: fileName\n  }\n};"
      },
      "id": "4d6745fc-37d7-49e3-8f0f-891885c1cc4b",
      "name": "Extract Workflow Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        64,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Désactiver le workflow dans n8n\nconst item = $input.item.json;\nconst workflowNameGuess = item.workflow_name_guess;\nconst n8nBaseUrl = $env.N8N_BASE_URL || 'http://localhost:5678';\nconst n8nApiKey = $env.N8N_API_KEY;\n\nif (!n8nApiKey) {\n  return {\n    json: {\n      ...item,\n      action_taken: 'skip',\n      status: 'failed',\n      error_message: 'N8N_API_KEY not configured',\n      workflow_id: '',\n      workflow_name: workflowNameGuess,\n      trigger_origin: 'github_webhook'\n    }\n  };\n}\n\ntry {\n  // 1. Chercher le workflow par nom\n  const searchUrl = `${n8nBaseUrl}/api/v1/workflows`;\n  const searchResponse = await fetch(searchUrl, {\n    method: 'GET',\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n      'Content-Type': 'application/json'\n    }\n  });\n  \n  if (!searchResponse.ok) {\n    throw new Error(`Failed to search workflows: ${searchResponse.statusText}`);\n  }\n  \n  const allWorkflows = await searchResponse.json();\n  \n  // Chercher par nom exact ou par correspondance partielle\n  const existingWorkflow = allWorkflows.data?.find(w => \n    w.name === workflowNameGuess || \n    w.name.toLowerCase().includes(workflowNameGuess.toLowerCase())\n  );\n  \n  if (!existingWorkflow) {\n    return {\n      json: {\n        ...item,\n        action_taken: 'skip',\n        status: 'success',\n        error_message: 'Workflow not found in n8n (already deleted or never existed)',\n        workflow_id: '',\n        workflow_name: workflowNameGuess,\n        trigger_origin: 'github_webhook'\n      }\n    };\n  }\n  \n  // 2. Désactiver le workflow\n  const updateUrl = `${n8nBaseUrl}/api/v1/workflows/${existingWorkflow.id}`;\n  const updateBody = {\n    ...existingWorkflow,\n    active: false\n  };\n  \n  const updateResponse = await fetch(updateUrl, {\n    method: 'PUT',\n    headers: {\n      'X-N8N-API-KEY': n8nApiKey,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(updateBody)\n  });\n  \n  if (!updateResponse.ok) {\n    const errorText = await updateResponse.text();\n    throw new Error(`Failed to disable workflow: ${updateResponse.statusText} - ${errorText}`);\n  }\n  \n  return {\n    json: {\n      ...item,\n      action_taken: 'disable',\n      status: 'success',\n      workflow_id: existingWorkflow.id,\n      workflow_name: existingWorkflow.name,\n      trigger_origin: 'github_webhook',\n      error_message: ''\n    }\n  };\n  \n} catch (error) {\n  return {\n    json: {\n      ...item,\n      action_taken: 'skip',\n      status: 'failed',\n      error_message: error.message,\n      workflow_id: '',\n      workflow_name: workflowNameGuess,\n      trigger_origin: 'github_webhook'\n    }\n  };\n}"
      },
      "id": "b4980491-b8b9-4cfe-8ff4-960f921e1dda",
      "name": "Disable Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Préparer les données pour le log Google Sheets\nconst item = $input.item.json;\n\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    timestamp_utc: timestamp,\n    repo: item.repo || '',\n    branch: item.branch || '',\n    commit_sha: item.commit_sha || '',\n    actor: item.actor || '',\n    file_path: item.file_path || '',\n    change_type: item.change_type || '',\n    action_taken: item.action_taken || '',\n    workflow_id: item.workflow_id || '',\n    workflow_name: item.workflow_name || '',\n    trigger_origin: item.trigger_origin || 'github_webhook',\n    status: item.status || 'unknown',\n    error_message: item.error_message || '',\n    source_file_version: item.source_file_version || ''\n  }\n};"
      },
      "id": "3878ca2c-c202-4cc3-b572-9938c13bdde0",
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        736,
        16
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1xEEtkiRFLYvOc0lmK2V6xJyw5jUeye80rqcqjQ2vTpk",
        "range": "events!A:N",
        "options": {}
      },
      "id": "322a0491-6103-4868-8a13-1d3d2b52f855",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        944,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPjmlTxP5lKXUoON",
          "name": "Google Sheets Automatt"
        }
      }
    },
    {
      "parameters": {},
      "id": "e1c2231d-102b-4d42-b851-73eff0957667",
      "name": "No Op (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        64,
        256
      ]
    }
  ],
  "connections": {
    "GitHub Push Webhook": {
      "main": [
        [
          {
            "node": "Extract Changed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Changed Files": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Route by Change Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Change Type": {
      "main": [
        [
          {
            "node": "Get File from GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Workflow Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Op (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from GitHub": {
      "main": [
        [
          {
            "node": "Parse Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow JSON": {
      "main": [
        [
          {
            "node": "Create or Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update Workflow": {
      "main": [
        [
          {
            "node": "Prepare Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow Name": {
      "main": [
        [
          {
            "node": "Disable Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable Workflow": {
      "main": [
        [
          {
            "node": "Prepare Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Entry": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op (Skip)": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "796ad41d5398d16f3886fb5969a85ea29cfd2bd437cfea92f0af2b8b1b1f98b2"
  }
}
