n8n-workflows/012_prolex-git-pull.json
{
  "name": "Prolex Git Pull (Server Sync)",
  "nodes": [
    {
      "parameters": {
        "command": "cd {{ $json.repo_path }} && git rev-parse --is-inside-work-tree 2>&1"
      },
      "id": "1cd9dc3a-a07d-4f0b-bdfa-5ddeafe1c868",
      "name": "Check Git Repo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -112,
        -128
      ]
    },
    {
      "parameters": {
        "command": "cd {{ $node['Validate Input'].json.repo_path }} && git fetch origin"
      },
      "id": "623f7be8-9e7f-41e5-b497-be7dc7a944de",
      "name": "Git Fetch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        96,
        -128
      ]
    },
    {
      "parameters": {
        "command": "cd {{ $node['Validate Input'].json.repo_path }} && git log -1 --pretty=format:'%H'"
      },
      "id": "e3212bc9-79a7-41f8-9cbb-19b373a8f9d6",
      "name": "Get Commit Before",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        -128
      ]
    },
    {
      "parameters": {
        "command": "cd {{ $node['Validate Input'].json.repo_path }} && git checkout {{ $node['Validate Input'].json.branch }} && git pull origin {{ $node['Validate Input'].json.branch }} {{ $node['Validate Input'].json.force ? '--force' : '' }}"
      },
      "id": "a06e4e0c-7d98-401e-8e99-e8eedbc875e3",
      "name": "Git Pull",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        496,
        -128
      ]
    },
    {
      "parameters": {
        "command": "cd {{ $node['Validate Input'].json.repo_path }} && git log -1 --pretty=format:'%H|%an|%s|%cd' --date=iso"
      },
      "id": "a7b04dfd-60bc-4058-8b23-a4896b682129",
      "name": "Get Commit After",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        704,
        -128
      ]
    },
    {
      "parameters": {
        "command": "cd {{ $node['Validate Input'].json.repo_path }} && git rev-list {{ $node['Get Commit Before'].json.stdout.trim() }}..HEAD --count"
      },
      "id": "9ba7e6b6-f5f5-4111-8f38-6c81b1628d5a",
      "name": "Count New Commits",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolex-git-pull",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c25882d2-5efb-4ccc-94cd-851c739c7062",
      "name": "Prolex Git Pull Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -128
      ],
      "webhookId": "prolex-git-pull"
    },
    {
      "parameters": {
        "functionCode": "const { repo_path, branch, force } = $json;\n\nif (!repo_path) {\n  throw new Error('repo_path requis');\n}\n\nreturn {\n  repo_path: repo_path,\n  branch: branch || 'main',\n  force: force || false,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "69865ee5-bef6-40af-a69c-fd2a5d9c3317",
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -304,
        -128
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xEEtkiRFLYvOc0lmK2V6xJyw5jUeye80rqcqjQ2vTpk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=4",
          "mode": "id",
          "cachedResultName": "GitHub"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.synced_at }}",
            "action": "GITHUB_SYNC",
            "repo_path": "={{ $json.repo_path }}",
            "branch": "={{ $json.branch }}",
            "new_commits": "={{ $json.new_commits }}",
            "status": "SUCCESS"
          }
        },
        "options": {}
      },
      "id": "bcb535dd-dedc-4578-aac4-9b1d91f2b345",
      "name": "Traçabilité",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1296,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node['Format Success Response'].json }}",
        "options": {}
      },
      "id": "7d3196c0-85d5-4654-b9b8-9136e8e91fa8",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1504,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $json.message || 'Erreur inconnue',\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "43658fda-8150-4d4b-8883-4e9315198bee",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1504,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = $node['Validate Input'].json;\nconst commitAfter = $node['Get Commit After'].json.stdout.trim().split('|');\nconst newCommits = parseInt($json.stdout.trim());\n\nreturn {\n  success: true,\n  repo_path: input.repo_path,\n  branch: input.branch,\n  updated: newCommits > 0,\n  new_commits: newCommits,\n  last_commit: {\n    hash: commitAfter[0],\n    author: commitAfter[1],\n    message: commitAfter[2],\n    date: commitAfter[3]\n  },\n  synced_at: input.timestamp\n};"
      },
      "id": "b63daf57-c7e0-4794-831c-fa1a2860c14a",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1104,
        -128
      ]
    }
  ],
  "connections": {
    "Check Git Repo": {
      "main": [
        [
          {
            "node": "Git Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Fetch": {
      "main": [
        [
          {
            "node": "Get Commit Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit Before": {
      "main": [
        [
          {
            "node": "Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull": {
      "main": [
        [
          {
            "node": "Get Commit After",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit After": {
      "main": [
        [
          {
            "node": "Count New Commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count New Commits": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prolex Git Pull Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Git Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traçabilité": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Traçabilité",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["github", "git-pull", "server-sync"],
  "triggerCount": 1,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "1.0"
}
