n8n-workflows/030_github-dev-log-to-sheets.json
{
  "name": "GitHub Dev Log → Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-dev-log",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-github-push",
      "name": "Webhook de push GitHub",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "github-dev-log"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Payload brut envoyé par GitHub lors d'un push\nconst payload = $input.item.json;\n\n// Repo complet, ex: \"ProlexAi/Prolex\"\nconst repo = payload.repository?.full_name ?? 'unknown';\n\n// ref ressemble à \"refs/heads/main\"\nconst ref = payload.ref ?? '';\nconst branch = ref.replace('refs/heads/', '');\n\n// Auteur / acteur du push\nconst actor =\n  payload.pusher?.name ??\n  payload.sender?.login ??\n  'unknown';\n\n// Liste des commits inclus dans ce push\nconst commits = payload.commits ?? [];\n\n// Pour chaque commit, on crée un item de sortie\nconst items = commits.map(commit => {\n  const added = commit.added ?? [];\n  const modified = commit.modified ?? [];\n  const removed = commit.removed ?? [];\n  const files = [...added, ...modified, ...removed];\n\n  return {\n    json: {\n      timestamp_utc: new Date().toISOString(),\n      repo,\n      branch,\n      commit_sha: commit.id,\n      author: commit.author?.name ?? actor,\n      message: commit.message ?? '',\n      files_changed: files.join(', '),\n      added: added.join(', '),\n      modified: modified.join(', '),\n      removed: removed.join(', '),\n    },\n  };\n});\n\nreturn items;"
      },
      "id": "code-extract-commits",
      "name": "Extraire commits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "dev_commits"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp_utc": "={{ $json.timestamp_utc }}",
            "repo": "={{ $json.repo }}",
            "branch": "={{ $json.branch }}",
            "commit_sha": "={{ $json.commit_sha }}",
            "author": "={{ $json.author }}",
            "message": "={{ $json.message }}",
            "files_changed": "={{ $json.files_changed }}",
            "added": "={{ $json.added }}",
            "modified": "={{ $json.modified }}",
            "removed": "={{ $json.removed }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp_utc",
              "displayName": "timestamp_utc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "repo",
              "displayName": "repo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "branch",
              "displayName": "branch",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "commit_sha",
              "displayName": "commit_sha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "files_changed",
              "displayName": "files_changed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "added",
              "displayName": "added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "modified",
              "displayName": "modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "removed",
              "displayName": "removed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "Ajouter à Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook de push GitHub": {
      "main": [
        [
          {
            "node": "Extraire commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire commits": {
      "main": [
        [
          {
            "node": "Ajouter à Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "github",
    "dev-log",
    "sheets"
  ]
}
